@import "src/styles/common.scss";

.chooseBlueprintWrapper {
  display: flex;
  align-items: baseline;
  font-weight: 800;
  font-size: 16px;
}

.BPTitle {
  padding-right: 10px;
}

.checkbox {
  label {
    display: flex;
    vertical-align: baseline;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
}

.searchedBP {
  width: 90%;
  height: 40%;
  padding: 5px;
  display: flex;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}

.loaderGif {
  border: 1px solid red;
}

.METEWrapper {
  display: flex;
}

@media (max-width: 480px) {
  .METEWrapper {
    padding-top: 10px;
  }

  .chooseBlueprintWrapper {
    display: block;
  }

  .BPTitle {
    padding-bottom: 10px;
  }
}
