@import "src/styles/common.scss";

.wrapper {
  font-family: "Jura", sans-serif;
  padding: 20px;
  background-color: $grey_bg;
  color: #fff;
  height: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    108px 100%,
    104px calc(100% - 5px),
    49px calc(100% - 5px),
    45px 100%,
    0 100%
  );
}

@media (max-width: 1600px) {
  .test {
    max-width: 500px;
    margin: 0 auto;
  }
}
