@import "src/styles/common";

.center {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

input.input {
  position: relative;
  width: 122px; //34
  height: 20px;
  background-color: rgba(226, 226, 226, 0.4);
  outline: none;
  transition: 0.3s;
  border: 0;
  appearance: none;
  cursor: pointer;
}

input.input:checked {
  background-color: rgba(66, 133, 244, 0.7);
}

input.input::before {
  content: "Sell";
  font-weight: 600;
  color: $mainAqua;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 25px;
  background-color: white;
  top: -2.6px;
  left: -3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
  transition: 0.3s;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    108px 100%,
    104px calc(100% - 2px),
    49px calc(100% - 2px),
    45px 100%,
    0 100%
  );
}

input.input:checked::before {
  content: "Buy";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 94px; //14
  background-color: $mainAqua;
}
