@import "src/styles/common.scss";

.chooseBlueprintWrapper {
  display: flex;
  align-items: baseline;
  font-weight: 800;
  font-size: 16px;
}

.checkbox {
  cursor: pointer;
}

.BPTitle {
  padding-right: 5px;
}
