.mineralsDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
}

.mineralsDiv div {
  width: 140px;
}

.mineralsTitle {
  font-weight: 600;
  text-align: right;
}

.totalCost {
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 16px;
  color: #1daee7;
}

.bottomWrapper {
  text-align: right;
}
