.app {
  font-family: "Jura", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(101, 102, 102, 0.658);
  background-image: url("./assets//images//background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.logo {
  width: 300px;
  height: 62px;
  position: fixed;
  bottom: 30px;
  left: 0;
}

.left,
.center,
.right {
  padding-top: 100px;
}

.right {
  margin-bottom: 20px;
}

.left {
  position: relative;
}

.center {
  width: 40%;
  margin-bottom: 20px;
}

.blueprintDetector {
  padding-bottom: 20px;
}

.efficiencyCalculator {
}

@media (max-width: 1600px) {
  .app {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .left,
  .center,
  .right {
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    display: none;
  }
}

.guide {
  position: absolute;
  top: 30px;
  padding-bottom: 30px;
}
