@import "src/styles/common.scss";

.rowWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 5px;
  height: 35px;
  background-color: $row_bg;
  color: $blackText;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rowWrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 10px solid rgb(56, 58, 61);
  border-left: 10px solid rgba(230, 230, 230, 0);
  width: 0;
}

.addRowModifier {
  position: absolute;
  bottom: -6px;
  right: 60px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 6px solid $row_bg;
}

.imgTitleWrapper {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.materialIcon {
  width: 35px;
  height: 35px;

  img {
    width: 100%;
    height: 100%;
  }
  padding-right: 1%;
}

.BPTitle {
  padding-right: 10px;
}
.materialName {
  font-weight: 700;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
}

.materialQuantity {
  display: flex;
  font-weight: 500;
}

.addWrapper {
  display: flex;
  justify-content: center;
}

.additionalRow {
  display: inline-flex;
  width: 50%;
  padding-right: 20px;
}

.efficiencyWrapper {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
