.button {
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px 15px;
  background: linear-gradient(rgb(48, 178, 230) 0%, rgb(43, 158, 204) 100%),
    rgb(48, 178, 230);
  clip-path: polygon(
    0% 0px,
    0px 0%,
    100% 0%,
    100% 0px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0px 100%,
    0% calc(100% - 8px)
  );
  user-select: none;
  display: inline-block;
}
